[user]
	name = Nate Brown
	email = nbrown.us@gmail.com

[color]
	ui = true

[alias]
	ci = !git commit -m
	co = checkout
	st = status -- .
	ba = !git branch -avv
	up = !git pull --rebase
	rv = !git remote -v
	hist = !git --no-pager log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short -20
	history = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	diffc = diff --cached

[status]
	submodulesummary = true

[push]
	default = current 

[diff]
	renames = true
	noprefix = true

[format]
	pretty = fuller
